* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  background: #050505;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

app-root {
  display: block;
  min-height: 100vh;
}
